# Battle
It is a game where I play with the computer.I make move with my monster.That monster is being defended by computer's monster.So while making 
move I have to be careful about the power of the move and my hp.As long as my hp is not zero I am good to play. Damage dealt=attacking 
monster's attack stat + attacking monster move's power-defending monster's defense stat.The damage dealt has to be deducted from the
defender's hp.But there is a chance that your move might be a miss.You 
can see all the moves that you made through out the play after the game is over.
So good luck playing it.
